<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="stylesheet" type="text/css" href="/maintenance/assets/css/style.min.css">
        <link rel="icon" type="image/png" href="/maintenance/assets/favicon.png" sizes="16x16">
        <title>Site Under Maintenance | StyleLab</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body class="error-page">
        <header class="page-head">
            <div class="wrapper-large">
                <div class="logo">
                    <img src="/maintenance/assets/img/stylelab-logo.original.png" alt="stylelab logo">
                </div>
            </div>
        </header>
        <main class="page-content">
            <div class="wrapper">
                <div class="error-page__heading">
                    <h1>Site under maintenance<span class="fullstop-option1">.</span></h1>
                </div>
                <div class="error-page__body">
                    <div class="wrapper">
                        <h3>
                            This site is currently undergoing maintenance. <br>
                            Please check back at a later time.
                        </h3>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
